@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: "Material Icons";
    src: url("../fonts/MaterialIcons/MaterialIcons-Regular.ttf");
}

.base {
    -fx-background-color: #ffffff; 
}

.title {
    -fx-font-size: 30px;
}

.font {
    -fx-font-family: "Poppins Bold";
}

.material-icons {
    -fx-font-family: 'Material Icons';
    
}